pytest==6.0.1
pandas==1.0.1
Click==7.0
scikit-learn==0.22.1
black==19.10b0
isort==4.3.21
PyYAML==5.2

# for FastAPI
fastapi==0.61.0
uvicorn==0.11.8

# idk why, an error comes out when I run pytest, installing chardet fixes the issue
# https://github.com/HazyResearch/pdftotree/issues/47
chardet==3.0.4

# for parallel pytest
pytest-xdist==2.0.0